<div class="container pt-4" *ngIf="cart">
  <h2 class="merienda pb-2">Mon panier</h2>
  <div class="table-lines">
    <table>
      <app-cart-line *ngFor="let line of cart.lines" [line]="line"></app-cart-line>
    </table>
  </div>
  <!-- TODO: éditer le style du cart + simuler paiement commande -->
  <table class="totaux">
    <tr>
      <td class="col-1">TOTAL</td>
      <td class="col-8">{{ totalQuantity }} articles</td>
      <td class="col-2">{{ totalPrice | currency : "EUR"  }}</td>
      <td class="col-1"></td>
    </tr>
  </table>
  <button type="submit" class="btn">Je paie ma commande</button>
</div>
