<div class="container">
  <header>
    <div class="logo">
      <img src="../../../assets/img/logo3.png" alt="logo scalyfriends"/>
      <p class="logo-name merienda">ScalyFriends</p>
    </div>
    <div class="admin">
      <button class="new-product-button" routerLink="/edit-product" *ngIf="isAdminIn">+</button>
    </div>
    <div class="buttons">
      <button class="account-button" *ngIf="!isLoggedIn" ><a routerLink="/connexion" id="account-link"> Mon compte</a></button>
      <button class="account-button" *ngIf="isLoggedIn" (click)="onLogout()"> Déconnexion </button>
      <!-- TODO: Ajouter l'affichage du nombre d'articles dans le panier + style -->
      <button class="cart-button" *ngIf="!isAdminIn">
        <a routerLink="/cart">
          <img src="../../../assets/img/sac.png" alt="logo panier" />
        </a>
      </button>
    </div>
  </header>


  <ul class="menu">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.path" routerLinkActive="active-link">{{ item.label }}</a>
    </li>
  </ul>
</div>
