<div class="container">
  <header>
    <div class="logo">
      <img src="../../../assets/img/logo3.png" alt="logo scalyfriends"/>
      <p class="logo-name merienda">ScalyFriends</p>
    </div>
    <div class="buttons">
      <!-- TODO: Gérer l'affichage du bouton de connexion  + style -->
      <button class="account-button"><a routerLink="/login" id="account-link"> Mon compte</a></button>
      <button class="unlog-button" (click)="onLoggout()"> Déconnexion </button>
      <!-- TODO: Ajouter l'affichage du nombre d'articles dans le panier + style -->
      <button class="cart-button">
        <a routerLink="/cart">
          <img src="../../../assets/img/sac.png" alt="logo panier" />
        </a>
      </button>
    </div>
  </header>


  <ul class="menu">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.path" routerLinkActive="active-link">{{ item.label }}</a>
    </li>
  </ul>
</div>
