<form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
  <h2 class="merienda">Éditer un produit</h2>

  <table>
    <tbody>

    <tr class="form-field">
      <td><label for="category">Catégorie</label></td>
      <td class="field"><select id="category" formControlName="category">
        <option *ngFor="let category of categories" [ngValue]="category.value">
          {{ category.name }}
        </option>
      </select>
      </td>
    </tr>
    </tbody>
  </table>

  <span class="edit-product-container" *ngIf="(category$|async) as category">

  <table>
    <tbody>
      <tr class="form-field">
        <td><label for="type">Type</label></td>
        <td class="field"><input type="text" formControlName="type" id="type"/></td>
      </tr>


      <tr class="form-field">
        <td><label for="name">Nom</label></td>
        <td class="field"><input type="text" formControlName="name" id="name"></td>
      </tr>

      <tr class="form-field" *ngIf="category === 'Animal'">
        <td><label for="gender">Sexe</label></td>
        <td class="field"><select id="gender" formControlName="gender">
          <option *ngFor="let gender of genders" [ngValue]="gender">
            {{ gender.name }}
          </option>
        </select></td>
      </tr>


      <tr class="form-field" *ngIf="category === 'Animal'">
        <td><label for="birth">Année de naissance</label></td>
        <td class="field"><input type="date" name="birth" id="birth"></td>
      </tr>

      <tr class="form-field">
        <td><label for="dimensionsMax">Taille maximum</label></td>
        <td class="fields">
          <input type="number" name="dimensionsMax" id="dimensionsMax" formControlName="dimensionsMax">
          <select name="dimensionsUnit" id="dimensionsUnit" formControlName="dimensionsUnit">
            <option *ngFor="let unit of units" [ngValue]="unit">
              {{ unit }}
            </option>
          </select>
        </td>
      </tr>


      <tr class="form-field">
        <td><label for="description">Description</label></td>
        <td class="field"><textarea name="description" id="description"></textarea></td>
      </tr>

      <tr class="form-field">
        <td><label for="species">
          {{ category === "Animal" ? "Espèce" : "Marque"}}
        </label></td>
        <td class="field"><input type="text" formControlName="species" id="species"></td>
      </tr>

      <tr class="form-field" *ngIf="category === 'Animal'">
        <td><label for="race">Race</label></td>
        <td class="field"><input type="text" formControlName="race" id="race"></td>
      </tr>

      <tr class="form-field">
        <td><label for="price">Prix</label></td>
        <td class="field"><input type="number" formControlName="price" id="price"></td>
      </tr>

      <tr class="form-field">
        <td><label for="stock">Stock</label></td>
        <td class="field"><input type="number" formControlName="stock" id="stock"></td>
      </tr>

      <tr class="form-field" *ngIf="category === 'Animal'">
        <td><label for="requiresCertification">Nécessite une certification</label></td>
        <td class="field"><input type="checkbox" formControlName="requiresCertification"
                                 id="requiresCertification"></td>
      </tr>

      <div>
        <fieldset name="specification" *ngIf="category !== 'Animal'">
          <legend>Caractéristique spécifique</legend>
          <div class="form-field">
            <label for="specification">Nom de la caractéristique</label>
            <input type="text" formControlName="specification" id="specification">
          </div>
          <div class="form-field"><label for="specificationValue">Valeur</label>
            <input type="text" formControlName="specificationValue" id="specificationValue">
          </div>
          <div class="form-field"><label for="specificationUnit">Unité</label>
            <input type="text" formControlName="specificationUnit" id="specificationUnit">
          </div>
        </fieldset>
      </div>

      <div class="form-field" *ngIf="(name$ | async) as name">
        <app-image-upload (newImageEvent)="setImgBase64($event)"></app-image-upload>
      </div>
      <div class="btn-form-container">
        <button type="submit">Enregister</button>
      </div>


    </tbody>
  </table>
  </span>


</form>
