<div class="container" *ngIf="product$ | async as product">
  <div class="description">
    <ul>
      <li *ngFor="let elt of descriptionTab">{{ elt }}</li>
    </ul>
  </div>
  <table>
    <thead>
      <tr>
        <th>Marque</th>
        <th>Type</th>
        <th>Taille</th>
        <th>{{ product.specification | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ product.species | titlecase}}</td>
        <td>{{ product.type | titlecase}}</td>
        <td>{{ product.dimensionsMax + ' ' + product.dimensionsUnit }}</td>
        <td>{{ product.specificationValue + ' ' + product.specificationUnit }}</td>
      </tr>
    </tbody>
  </table>
</div>
