<form [formGroup]="signinForm">
  <div class="form-group">
    <div class="form-field">
      <label>Nom d'utilisateur</label>
      <input type="text" name="username" class="form-control" [ngClass]="{'is-invalid' : submitted && f['username'].errors }" formControlName="username">
    </div>
    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
      <div *ngIf="f['username'].errors['required']">Username is required</div>
      <div *ngIf="f['username'].errors['minlength']">
        Le nom d'utilisateur doit comporter au moins 5 caractères.
      </div>
      <div *ngIf="f['username'].errors['maxlength']">
        Le nom d'utilisateur ne doit pas dépasser 20 caractères.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-field">
      <label>Mot de passe:</label>
      <input type="password" formControlName="pwd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['pwd'].errors }" required
      />
    </div>
    <div *ngIf="submitted && f['pwd'].errors" class="invalid-feedback">
      <div *ngIf="f['pwd'].errors['required']">Password is required</div>
      <div *ngIf="f['pwd'].errors['minlength']">
        Le mot de passe doit comprendre au moins 5 caractères.
      </div>
      <div *ngIf="f['pwd'].errors['maxlength']">
        Le mot de passe ne doit pas dépasser 20 caractères.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-field">
      <label>Confirm Password</label>
      <input type="password" formControlName="pwdConfirm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['pwdConfirm'].errors }" />
      <div *ngIf="submitted && f['pwdConfirm'].errors" class="invalid-feedback">
        <div *ngIf="f['pwdConfirm'].errors['required']" >
          Confirm Password is required
        </div>
        <div *ngIf="f['pwdConfirm'].errors['matching']" >
          Confirm Password does not match
        </div>
      </div>
    </div>
  </div>
    <button class="button" type="submit" [disabled]="!signinForm.valid" (click)="onSignin()">Enregistrer</button>
</form>
