<div class="container">
  <h2 class="merienda">Bienvenue chez ScalyFriends</h2>
  <p><span>Ce site est un site fictif. Aucune vente ne pourra être réalisée ni honorée. Tous les produits et animaux de ce site sont virtuels et aucune demande ou réclamation ne pourra être faite.</span>
  </p>
  <p>Il s'agit d'un projet d'étude, réalisé dans le cadre d'une formation de reconversion dans le développement web. Et comme vous le constaterez, ceci n'est pas l'oeuvre ni d'un graphiste ni d'un web designer.</p>
  <p>Nous vous souhaitons une agréable visite à la découverte de nos amis à écailles et restons bien sûrs ouverts à toute critique constructive.</p>
</div>
