<div class="container">
  <h2 class="merienda">PROJET PERSONNEL - Titre CDA</h2>
  <p><span>Ce site est un site fictif. Aucune vente ne pourra être réalisée ni honorée. Tous les produits et animaux de ce site sont virtuels et aucune demande ou réclamation ne pourra être faite.</span>
  </p>
  <p>Il s'agit d'un projet d'étude, réalisé dans le cadre d'une formation de reconversion dans le développement web. Comme vous le constaterez ceci n'est pas l'oeuvre ni d'une graphiste ni d'un web designer.</p>

  <div class="author-container">
    <!-- <div class="img"></div> -->
    <div class="author-description">
      <h3 class="merienda">Quiterie J.</h3>
      <p class="ap">ECOLE AP Formation</p>
      <p>Titre de Concepteur et développeur d'Applications</p>
      <p><small>2022 - 2023</small></p>
    </div>
  </div>

  <h2 class="merienda">Remerciements</h2>
  <p>Un immense merci à ma famille qui m'a poussé et soutenue dans cette reconversion. Tout particulièrement à mon époux qui m'a supporté et aidé tout au long de ce processus.</p>
  <p>Merci également à AP Formation pour sa qualité d'accueil, d'écoute, de suivi et d'apprentissage. À Gilles VANDERSTRAETEN et à tous les formateurs pour leur accompagnement, leurs encouragements et tout ce qu'ils m'ont enseigné.</p>
  <p>Merci à tous mes camarades pour leur bonne humeur et leur bienveillance.</p>
  <p>Enfin, merci à tous les acteurs qui m'ont permis de réaliser ce site...</p>
  <small>... qui je l'espère ne pas trop saigner vos yeux</small>
  <ul class="credits">
    <li>freepng.fr</li>
    <li>rajan210709</li>
    <li>Reptiligne</li>
    <li>PngAAA</li>
  </ul>
</div>
