<div class="container">
  <h2 class="merienda">Remerciements</h2>
  <p>Un immense merci à ma famille qui m'a poussé et soutenue dans cette reconversion. Tout particulièrement à mon époux qui m'a supporté et aidé tout au long de ce processus.</p>
  <p>Merci également à AP Formation pour sa qualité d'accueil, d'écoute, de suivi et d'apprentissage. À Gilles VANDERSTRAETEN et à tous les formateurs pour leur accompagnement, leurs encouragements et tout ce qu'ils m'ont enseigné.</p>
  <p>Merci à tous mes camarades pour leur bonne humeur et leur bienveillance.</p>
  <p>Enfin, merci à tous les acteurs qui m'ont permis de réaliser ce site...</p>
  <small>... qui je l'espère ne pas trop saigner vos yeux</small>
  <ul class="credits">
    <li>freepng.fr</li>
    <li>rajan210709</li>
    <li>Reptiligne</li>
    <li>PngAAA</li>
    <li><a target="_blank" href="https://icons8.com">Icons8</a></li>
  </ul>
</div>
