<div class="container">
  <div class="description">
    <button class="display-text" *ngIf="!isTextTruncated" (click)="displayText()">
      <small>Résumer</small>
    </button> <br/>
    {{ textDescription }}
    <button class="display-text" *ngIf="isTextTruncated" (click)="displayText()">
      <small>Tout lire</small>
    </button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Marque</th>
      <th>Contenu</th>
      <th>{{ product.specification | titlecase }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ product.species | titlecase}}</td>
      <td>{{ product.dimensionsMax + ' ' + product.dimensionsUnit }}</td>
      <td>{{ product.specificationValue + ' ' + product.specificationUnit }}</td>
    </tr>
    </tbody>
  </table>
</div>
