/* You can add global styles to this file, and also import other style files */
@import "~src/assets/variables";

*{
  font-family: 'Imprima', sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: $secondary;
}
.merienda{
  font-family: 'Merienda', sans-serif;;
}
.happy-monkey{
  font-family: 'Happy Monkey', cursive;
}
