/* You can add global styles to this file, and also import other style files */
@import "~src/assets/variables";

* {
  font-family: 'Imprima', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fffffb;
}

.merienda {
  font-family: 'Merienda', sans-serif;;
}

.happy-monkey {
  font-family: 'Happy Monkey', cursive;
}

.btn {
  display: flex;
  cursor: pointer;
  background-color: #FBCE2E;
  font-size: 1.2rem;
  height: fit-content;
  border: none;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  color: #181818;
  width: fit-content;
  align-self: center;
}
