//input {
//  display: none;
//}
//
.image-upload-container {
  display: flex;
  justify-content: space-between;
  width: 39vw;
  .image-input {
    cursor: pointer;

  }
}
//
//.btn-bwm {
//  background-color: #DB962EFF;
//  border-color: #DB962EFF;
//  color: white;
//  padding: 8px 30px;
//  font-size: 20px;
//
//  &:hover, &:focus, &:active {
//    border-color: #DB962EFF !important;
//    background-color: #DB962EFF !important;
//  }
//}
.img-preview-container {
  background-color: #f7f7f7;
  position: relative;

  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;

    &-error {
      display: none;
    }
  }
}
