@import "~src/assets/variables";

.container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  .details-product {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .img {
      position: relative;
      display: inline-block;
      width: 220px;
      height: 220px;
      transform: rotateZ(-9.96deg);
      box-shadow: -2px 2px 5px $shadows;
      margin: 3rem 0 0 2rem;

      img {
        width: 220px;
        height: 220px;
        object-fit: contain;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -3px;
        left: -3px;
        transform: rotateZ(6deg);
        border: 3px solid $primary;
        box-shadow: -3px 4px 4px $shadows, inset -4px 4px 4px $shadows;
      }
    }

    .infos {
      width: 50vw;
      h2 {
        margin-bottom: 0;
      }
      p.ref{
        margin-top: 0;
        padding-left: .5rem;
      }
      .price-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 1rem 0;
        .price {
          text-align: center;
          padding: 0.75rem 2rem;
          background-color: $lightGrey;
          box-shadow: -3px 4px 5px $shadows;
          font-size: 1.5rem;
          color: rgba(0, 0, 0, 0.85);
          user-select: none;
        }
        .quantity{
          cursor: pointer;
          width: 70px;
          padding: 0.5rem;
          border: none;
        }
        button{
          cursor: pointer;
          text-align: center;
          padding: 0.75rem 2rem;
          background-color: $yellow;
          box-shadow: -3px 4px 5px $shadows;
          font-size: 1.5rem;
          color: rgba(0, 0, 0, 0.85);
          border: none;
        }
      }

    }
  }
}
