@import "variables";

.back {
  margin-top: 0;
  svg{
    color: $primary;
    width: 30px;
    height: 30px;
    margin-left: 2rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  max-width: 850px;
  margin: 0 auto;
  flex-direction: column;

  .details-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 850px;

    .img {
      position: relative;
      display: inline-block;
      width: 220px;
      height: 220px;
      transform: rotateZ(-9.96deg);
      box-shadow: -2px 2px 5px #8E8E8BFF;
      margin: 1rem 0 1rem 1rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -3px;
        left: -3px;
        transform: rotateZ(6deg);
        border: 3px solid $primary;
        box-shadow: -3px 4px 4px $shadows, inset -4px 4px 4px $shadows;
      }
    }
  }
  .infos {
     max-width: 650px;
     width: fit-content;
     .product-name {
       .icon {
         width: 32px;
         cursor: pointer;
       }
       h2 {
         margin-bottom: 0;
       }
     }
     p.ref{
       margin-top: 0;
       padding-left: .5rem;
     }
     .price-container {
       display: flex;
       flex-wrap: wrap;
       gap: 1rem;
       padding: 1rem 0;
       .price {
         text-align: center;
         padding: 0.5rem 1rem;
         background-color: $lightGrey;
         box-shadow: -3px 4px 5px $shadows;
         font-size: 1.2rem;
         color: rgba(0, 0, 0, 0.85);
         user-select: none;
       }
       .quantity{
         cursor: pointer;
         width: 70px;
         padding: 0.5rem;
         border: none;
       }
       button{
         cursor: pointer;
         text-align: center;
         padding: 0.5rem 1rem;
         background-color: $yellow;
         box-shadow: -3px 4px 5px $shadows;
         font-size: 1.2rem;
         color: rgba(0, 0, 0, 0.85);
         border: none;

         #plus-one-into-cart {
           display: none;
         }
       }
     }
   }
  .conditions{
    text-align: center;
    margin-top: 1rem;
  }
}


@media (max-width: 762px) {
  button {
    #add-into-cart {
      display: none;
    }
    #plus-one-into-cart {
      display: block !important;
    }
  }
}


@media (max-width: 615px) {
  .container {
    .details-product {
      gap: 3rem;
      .img {
        width: 180px !important;
        height: 180px !important;
      }

    }
  }
}

@media (max-width: 580px) {
  .container {
    .infos {
      .ref {
        text-align: center !important;
      }
      .price-container{
        justify-content: center;
      }
      .stock {
        text-align: center;
      }
    }
    h2 {
      text-align: center;
    }
    .details-product {
      gap: 2rem;
      flex-direction: column;
      align-content: center;
      .img {
        width: 180px !important;
        height: 180px !important;
      }

    }
  }
}
